{% extends 'base.html' %}

{% block content%}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django CRUD</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione omnis ad accusantium alias ipsa non iure esse quisquam dolor ab, itaque nesciunt nostrum velit quia voluptate distinctio harum eveniet a expedita. Id optio eligendi dolor impedit odio nesciunt architecto recusandae explicabo odit placeat sunt, cumque vitae numquam, corrupti atque inventore incidunt totam iusto rerum eaque assumenda excepturi? Obcaecati, dolorum ab enim modi alias ipsa illo odio aut veniam veritatis quasi praesentium incidunt ducimus laboriosam minus ea tempore aspernatur. Quidem, dolore. Vero qui porro ex incidunt eveniet omnis provident, harum delectus dolor at nihil dolores reprehenderit sunt nesciunt hic cupiditate corporis?</p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup">
                Signup
            </a>
        </div>
      

    </section>

</main>


{% endblock%}